# git ignore file 
*.pyc
.ipynb_checkpoints

# git ignore setup.py dirs
/build/*
/dist/*
/mglib.egg-info/*

# ignore files with # and ~
*\#*
*\~*

*.out
*.err
*.fasta.gz

# os x files
*.DS_Store

# Thumbnails
._*
